<div class="file-card">
  <div class="file-card-main">
    <div class="file-icon">
      <div ng-include src="'template/components/file-icon.html'"></div>
    </div>

    <div class="file-details">
      <div class="file-name-row">
        <div ng-include src="'template/components/file-header.html'"></div>
        <div ng-include src="'template/components/file-metadata.html'"></div>
      </div>
      <div ng-include src="'template/components/file-preview.html'"></div>
    </div>

    <div class="file-actions">
      <div ng-include src="'template/components/file-controls.html'"></div>
    </div>
  </div>

  <div ng-include src="'template/components/file-children.html'"></div>
</div>