<div class="ui grid section-header" ng-click="section_expanded_toggle()">
	<div class="column">
		<i class="square outline icon" ng-class="{minus: !$expanded, plus: $expanded}"></i>
		<span class="ui header">
			Downloads
			<i ng-show="$isLoadingFiles" class="sync mini icon loading"></i>
			<span class="ui label">
				<i class="hdd icon"></i>
				{{ state.Stats.System.diskFree | bytes }} free
			</span>
		</span>
	</div>
</div>
<div ng-if="$DownloadedFiles.length == 0 && $expanded" class="ui message nodownloads">
	<p>DownloadDirectory empty</p>
</div>

<div ng-show="$DownloadedFiles.length > 0 && $expanded" class="ui raised segment download-list">
	<div class="download-toolbar">
		<div class="ui tiny buttons">
			<button class="ui button" ng-class="{active: $downloadSortBy === 'Modified'}" ng-click="$downloadSortBy = 'Modified'; $downloadSortReverse = true">
				<i class="clock icon"></i> Time
			</button>
			<button class="ui button" ng-class="{active: $downloadSortBy === 'Name'}" ng-click="$downloadSortBy = 'Name'; $downloadSortReverse = false">
				<i class="font icon"></i> Name
			</button>
			<button class="ui button" ng-class="{active: $downloadSortBy === 'Size'}" ng-click="$downloadSortBy = 'Size'; $downloadSortReverse = true">
				<i class="hdd icon"></i> Size
			</button>
		</div>
	</div>
	<div class="ui list folder-structure">
		<div class="item" ng-repeat="node in $DownloadedFiles | orderBy:$downloadSortBy:$downloadSortReverse track by node.Name" ng-hide="node.$Deleted"
			ng-init="node.$parentPath=''" ng-controller="NodeController" ng-include src="'template/download-tree.html'"></div>
	</div>
</div>

<h5 ng-show="!$expanded" class="ui horizontal divider header" ng-click="section_expanded_toggle()">
	<i class="angle double down icon"></i>
	Click To Expand
</h5>