<span ng-if="!isdownloading(node.Name)" class="controls">
  <div class="action-group primary">
    <a ng-if="isfile()" ng-href="download/{{ $path | escape }}" title="Download file">
      <i class="download icon"></i>
    </a>
    <a ng-if="!isfile()" ng-href="download/{{ $path | escape }}" title="Download folder">
      <i class="file archive icon"></i>
    </a>
    <i ng-if="isfile() && videoPreview && showConvertButton()"
      ng-click="startConvert()" class="exchange icon" title="Convert to MP4"></i>
    <span ng-if="isfile() && videoPreview && convert && convert.state === 'running'" class="convert-progress-inline" title="Converting...">
      <i class="spinner loading icon"></i>{{ (convert.progress*100) | number:0 }}%
    </span>
    <span ng-if="isfile() && videoPreview && convert && convert.state === 'error'" class="convert-error-inline" title="{{ convert.error }}">
      <i class="red times circle icon"></i>
    </span>
    <i ng-if="isfile() && videoPreview && convert && convert.state === 'done'"
      ng-click="useConverted()" class="play icon green" title="Play Converted"></i>
    <i ng-if="isfile()" ng-click="togglePreview()"
      ng-class="previewIcon()" class="icon" title="Preview"></i>
  </div>

  <div class="action-group danger">
    <i ng-show="!confirm" ng-click="preremove()" class="trash icon"></i>
    <i ng-show="!deleting && confirm" ng-click="remove(node);" class="check icon"></i>
    <i ng-show="deleting" class="notched circle loading icon"></i>
  </div>
</span>
