<div class="preview" ng-if="showPreview">
  <audio ng-if="audioPreview" controls>
    <source ng-src="{{ showPreview ? ('download/'+node.$path) : '' }}">
  </audio>
  <img ng-if="imagePreview" ng-src="{{ showPreview ? ('download/'+(node.$path | escape)) : '' }}">

  <!-- Plyr Video Player -->
  <div ng-if="videoPreview" class="plyr-player-container">
    <div class="plyr-player-header">
      <span class="plyr-title">{{ node.Name }}</span>
      <button class="plyr-close" ng-click="togglePreview()">×</button>
    </div>
    <video ng-attr-id="{{ getVideoPlayerId() }}" class="plyr" playsinline controls>
      <source ng-src="{{ showPreview ? ('download/'+(node.$path|escape)) : '' }}" type="video/mp4">
    </video>
  </div>
</div>
